// Common settings.
//------------------------------------------------------------------------------
@footer_bg_use_image: false;													// Default T1 : false
@footer_bg_use_gradient: false;													// Default T1 : false
@footer_use_text_shadow: false;													// Default T1 : false

@footer_padding: 20px 10px 20px 10px;											// Default T1 : 20px 10px 20px 10px

@footer_bg_colour: #000000;
@footer_bg_colour_gradient_start: @footer_bg_colour;
@footer_bg_colour_gradient_stop: #FFFFFF;
@footer_bg_colour_gradient_direction: 'top-to-bottom';							// Default T1 : 'top-to-bottom'

@footer_bg_image: "../img/footer_bg.jpg";
@footer_bg_image_xs: @footer_bg_image;
@footer_bg_image_sm: @footer_bg_image_xs;
@footer_bg_image_md: @footer_bg_image_sm;
@footer_bg_image_lg: "../img/footer_bg_lg.jpg";

@footer_text_colour: #FFFFFF;
@footer_text_shadow: 1px 1px 1px #000000;
//------------------------------------------------------------------------------


// Footer type 1
//------------------------------------------------------------------------------
// Text size settings.
@footer_1_item_text_font_family: @font-family-std;
@footer_1_item_text_font_size: @body_text_font_size;
@footer_1_item_text_font_weight: @body_text_font_weight;

// Settings for the horizontal separators.
@footer_1_separator_width: 2px;
@footer_1_separator_height: 40px;
@footer_1_separator_border_left: 1px solid rgba(0, 0, 0, 0.07);
@footer_1_separator_border_right: 1px solid rgba(255, 255, 255, 0.07);
@footer_1_separator_box_shadow: 1px 1px 1px #000000;
//------------------------------------------------------------------------------

// Footer type 2
//------------------------------------------------------------------------------
@footer_2_height: 104px;
@footer_2_logo_height: 61px;
@footer_2_item_height: 35px;

@footer_2_item_text_header_font_family: @font-family-headline;
@footer_2_item_text_header_font_size: 12px;
@footer_2_item_text_header_font_weight: 600;

@footer_2_item_text_font_family: @font-family-std;
@footer_2_item_text_font_size: @body_text_font_size;
@footer_2_item_text_font_weight: @body_text_font_weight;

@footer_2_h_separator_height: 84px;
@footer_2_h_separator_border_left: 1px solid rgba(0, 0, 0, 0.07);
@footer_2_h_separator_border_right: 1px solid rgba(255, 255, 255, 0.07);

@footer_2_padding: (@footer_2_height - @footer_2_h_separator_height) / 2;
@footer_2_item_padding: ((@footer_2_height - @footer_2_item_height) - (@footer_2_padding * 2)) / 2;
@footer_2_item_logo_padding: ((@footer_2_height - @footer_2_logo_height) - (@footer_2_padding * 2)) / 2;

// This only works if the logo height is higher than the item height, which
// is assumed for most cases.
@footer_2_item_text_padding: (@footer_2_logo_height - @footer_2_item_height) / 2;
//------------------------------------------------------------------------------



footer
{
  padding: @footer_padding;
  margin-top: 0px;
  color: @footer_text_colour;

  & when (@footer_use_text_shadow = true)
  {
	text-shadow: @footer_text_shadow;
  }
  & when (@footer_bg_use_gradient = true)
  {
	.gradient(@footer_bg_colour_gradient_start, @footer_bg_colour_gradient_stop, @footer_bg_colour_gradient_direction);
  }
  & when (@footer_bg_use_image = true)
  {
	background-position: center center;
	background-image: url(@footer_bg_image);
	@media (min-width: @screen-xs) { background-image: url(@footer_bg_image_xs); }
	@media (min-width: @screen-sm) { background-image: url(@footer_bg_image_sm); }
	@media (min-width: @screen-md) { background-image: url(@footer_bg_image_md); }
	@media (min-width: @screen-lg) { background-image: url(@footer_bg_image_lg); }
  }
  & when (@footer_bg_use_gradient = false) and (@footer_bg_use_image = false)
  {
	&.container { background-color: @footer_bg_colour; }
  }

  .footer-container
  {
	float: left;
	width: 100%;

	// Default T1 template footer content.
	&>.item
	{
	  display: table;
	  margin: 0 auto;
	}
  }

  // Custom rules for footer type 1.
  &.footer-1
  {
	.item
	{
	  .h-separator
	  {
		@media (max-width: @screen-sm) { display: none; }
		border-left: @footer_1_separator_border_left;
		border-right: @footer_1_separator_border_right;
		width: @footer_1_separator_width;
		height: @footer_1_separator_height;
		float: left;

		box-shadow: @footer_1_separator_box_shadow;
	  }

	  .text
	  {
		float: left;
		margin: 10px 14px 10px 14px;

		font-family: @footer_1_item_text_font_family;
		font-size: @footer_1_item_text_font_size;
		font-weight: @footer_1_item_text_font_weight;

		@media (max-width: @screen-sm)
		{
		  width: 100%;
		  margin: 2px 2px 2px 2px;
		  text-align: center;
		}

		.glyphicon { margin-right: 8px; }

		a { color: @footer_text_colour; text-decoration: none; }
	  }
	}
  }


  // Custom rules for footer type 2.
  &.footer-2
  {
	padding-top: @footer_2_padding;
	padding-bottom: @footer_2_padding;

	.footer-container
	{
	  font-size: 13px;
	  font-weight: 300;

	  .item
	  {
		padding-top: @footer_2_item_padding / 4;
		padding-bottom: @footer_2_item_padding / 4;
		@media (min-width: @screen-sm)
		{
		  padding-top: @footer_2_item_padding / 2;
		  padding-bottom: @footer_2_item_padding / 2;
		}
		@media (min-width: @screen-md)
		{
		  padding-top: @footer_2_item_padding;
		  padding-bottom: @footer_2_item_padding;
		}


		// Vertical separator rules, this is not entirely intuitive.
		// ----------------------------------------------
		@media (min-width: @screen-md)
		{
		  border-left: @footer_2_h_separator_border_right;
		  border-right: @footer_2_h_separator_border_left;
		  &:first-child { border-left: none; }
		  &:last-child { border-right: none; }
		}
		// ----------------------------------------------

		&.logo
		{
		  padding-top: @footer_2_item_logo_padding / 4;
		  padding-bottom: @footer_2_item_logo_padding / 4;
		  @media (min-width: @screen-sm)
		  {
			padding-top: @footer_2_item_logo_padding / 2;
			padding-bottom: @footer_2_item_logo_padding / 2;
		  }
		  @media (min-width: @screen-md)
		  {
			padding-top: @footer_2_item_logo_padding;
			padding-bottom: @footer_2_item_logo_padding;
		  }

		  img
		  {
			width: 50%;
			@media (min-width: @screen-md) { width: 166px; }
		  }
		}

		&.text
		{
		  padding-top: @footer_2_item_padding / 4;
		  padding-bottom: @footer_2_item_padding / 4;
		  @media (min-width: @screen-sm)
		  {
			padding-top: @footer_2_item_padding;
			padding-bottom: @footer_2_item_padding;
		  }

		  span
		  {
			display: block;
			font-size: @footer_2_item_text_header_font_size;
			font-weight: @footer_2_item_text_header_font_weight;
		  }
		  a
		  {
			color: @footer_text_colour;
			font-size: @footer_2_item_text_font_size;
			font-weight: @footer_2_item_text_font_weight;
		  }
		}
	  }
	}
  }


  // Custom rules for footer type 3.
  &.footer-3
  {

	overflow: hidden;
	position: relative;
	background: rgb(41,40,40); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(41,40,40,1) 0%, rgba(45,44,44,1) 37%, rgba(7,7,7,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,40,40,1)), color-stop(37%,rgba(45,44,44,1)), color-stop(100%,rgba(7,7,7,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(41,40,40,1) 0%,rgba(45,44,44,1) 37%,rgba(7,7,7,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(41,40,40,1) 0%,rgba(45,44,44,1) 37%,rgba(7,7,7,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(41,40,40,1) 0%,rgba(45,44,44,1) 37%,rgba(7,7,7,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(41,40,40,1) 0%,rgba(45,44,44,1) 37%,rgba(7,7,7,1) 100%); /* W3C */







	.footer-container {
	  float: left;
	  margin: 2.4%;
	  margin-top:1.8%;
	  width: 94.4%;
	  margin-bottom: 10px;

	}

	.kontaktHeadline {
	  width: 100%;
	  height: 37px;
	  text-transform: uppercase;
	  font-weight: 700;
	  font-family: "Open Sans Condensed";
	  font-size: 15px;
	  letter-spacing: 0.4px;
	}
	.kontaktHeadlineMobileHide{@media (max-width: @screen-sm) { display:none; }}
	.kontaktHeadlineMobileHide{@media (max-width: @screen-sm) { display:none; }}

	.kontaktText{

	  width: 100%;
	  height: 115px;
	  font-weight: 400;
	  font-family: "Open Sans";
	  font-size: 13px;
	  overflow: hidden;
	  line-height: 22px;
	  color: #a0a0a0;

	  padding-right: 8%;
	  margin-top:-2px;

	  @media (max-width: @screen-lg) { padding-right: 0%; }
	  @media (max-width: @screen-sm) { margin-bottom: 20px; height: auto; }

	}



	.kontakt {
	  padding-top: 0px;
	  padding-bottom: 14px;
	  color: #a0a0a0;
	  margin-top: 0px;
	  margin-bottom: 14px;
	  font-size: 13px;
	  font-weight: 400;
	}

	.kontakt A {
	  color: #a0a0a0;
	}
	.underline {
	  border-bottom: 1px solid #676767;
	}
	.underlineMobile{@media (max-width: @screen-sm) { border-bottom: 1px solid #676767; }}

	.bottomLogo {
	  text-align: center;
	  width: 100%;
	  margin-top: 5px;
	  @media (max-width: @screen-md) { margin-top:20px; }

	}
    .badgeLogo {
      position: absolute;
      bottom: 0;
      right: 0;

      @media (max-width: @screen-sm) { display:none; }
      @media (max-width: @screen-xs) { display:none; }
    }

    .badgeLogoIMG {
      margin-right: 40px;

    }
    .bottomLogoIMG {
      width: 210px;
      margin-top: 33px;
      margin-bottom: 14px;

    }
	.background {
	  position: absolute;
	  right: 0;
	  top: 0;
	  @media (max-width: @screen-md) { right: 0; top: 0; }
	  @media (max-width: @screen-sm) { display:none; }
	  //  @media (max-width: @screen-xs) { right: -6%; bottom: -7%; }
	  & when(@footer_bg_use_image=false){
		display:none;
	  }
	}

  }




  // blueline banner
  .headsup-line-link{text-decoration: none;}
  .headsup-line-link:hover{text-decoration: none;}

  .headsup-line:hover{

	background: #22487c; /* Old browsers */
	background: -moz-linear-gradient(top,  #22487c 1%, #2b2d73 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#22487c), color-stop(100%,#2b2d73)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #22487c 1%,#2b2d73 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #22487c 1%,#2b2d73 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #22487c 1%,#2b2d73 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #22487c 1%,#2b2d73 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22487c', endColorstr='#2b2d73',GradientType=0 ); /* IE6-9 */

  }
  .headsup-line{
	display:block;
	height:101px;
	width:100%;
	background: #19355c; /* Old browsers */
	background: -moz-linear-gradient(top,  #19355c 1%, #202357 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#19355c), color-stop(100%,#202357)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #19355c 1%,#202357 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #19355c 1%,#202357 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #19355c 1%,#202357 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #19355c 1%,#202357 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19355c', endColorstr='#202357',GradientType=0 ); /* IE6-9 */
	transition: all 400ms;
	-moz-transition: all 400ms;
	-webkit-transition: all 400ms;
	-o-transition: all 400ms;
	padding-top: 32px;


	@media (max-width: @screen-sm) { height: auto; padding-bottom:32px; text-align:center;  }
	@media (max-width: @screen-xs) {   }

	img {
	  margin-left: 15.34%;
	  margin-top: -25px;


	  @media (max-width: @screen-lg) { margin-left: 15.34%;  }
	  @media (max-width: @screen-md) { margin-left: 8.34%;    }
	  @media (max-width: @screen-sm) { margin-left: auto; margin-bottom: 27px;  margin-top: 12px;}
	  @media (max-width: @screen-xs) { margin: 0 auto;  }
	}

	span {
	  font-size: 32px;
	  font-family: "Open Sans";
	  font-weight: 300;
	  top: -6px;
	  position: relative;
	  color:white;

	  margin-left: 33px;
	  margin-right: 33px;
	  @media (max-width: @screen-lg) { font-size: 32px;  }
	  @media (max-width: @screen-md) { font-size: 28px;    }

	  @media (max-width: @screen-sm) { font-size: 28px; display: block;      text-align: center;  }
	  @media (max-width: @screen-xs) { font-size: 25px;   }


	}

  }

}

/*
footer, .footer
{
	font-family: @footer_font;
	padding: 11px 10px 11px 10px ;
 	margin-top: 0px;
	color: @footer_text_colour;
	& when (@footer_use_text_shadow = true)
	{
		text-shadow: @footer_text_shadow;
	}
	
	
	& when (@footer_bg_use_gradient = true)
	{
		.gradient(@footer_bg_colour_gradient_start, @footer_bg_colour_gradient_stop);
	}
	& when (@footer_bg_use_image = true)
	{
		background-position: center center;
		background-image: url(@footer_bg_image);
		@media (min-width: @screen-xs) { background-image: url(@footer_bg_image_xs); }
		@media (min-width: @screen-sm) { background-image: url(@footer_bg_image_sm); }
		@media (min-width: @screen-md) { background-image: url(@footer_bg_image_md); }
		@media (min-width: @screen-lg) { background-image: url(@footer_bg_image_lg); }
	}
	& when (@footer_bg_use_gradient = false) and (@footer_bg_use_image = false)
	{
		&.container { background-color: @footer_bg_colour; }
	}
	
	.footer-container
	{
		float: left;
		width: 100%;
		&>.item
		{
			display: table;
			margin: 0 auto;
			
			.footer-element
			{
				float: left; 
				margin: 10px 14px 10px 14px; 
				font-size: 13px;
				
				@media (max-width: @screen-sm) 
				{    
				    width: 100%; 
				    margin: 2px 2px 2px 2px;
				    text-align: center; 
				}
				
				.glyphicon
				{
					margin-right: 8px;
					color:@accent_color;
					z-index:1;
				}
			}
			
			.h-separator
			{
				@media (max-width: @screen-sm) { display: none; }
			    border-left: @footer_h_separator_border_left;
			    border-right: @footer_h_separator_border_right;
			    width: @footer_h_separator_width;
			    height: @footer_h_separator_height;
			    float: left; 
			} 
		}
		
		a 
		{ 
			color: inherit;
			text-decoration: none;
		} 
	}
}
*/