<li>

    <div class="panel panel-primary">
        <div class="panel-heading" data-toggle="collapse" data-target="#{{ name }}_module">
            {{ name }}
            {% if adminOnly %}
                <span class="label pull-right label-danger">Admin only</span>
            {% endif %}
        </div>

        <div class="panel-body collapse" id="{{ name }}_module">
            {{ description|raw }}

            {% if api_methods %}
                <hr />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        API Funktioner
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% for method in api_methods %}
                                <li class="panel panel-info">
                                    <div class="panel-heading">
                                        {{ method.name }}
                                    </div>
                                    <div class="panel-body">

                                        {{ method.description|raw }}

                                        {% if method.example %}
                                            <hr />
                                            <h3>Exempel</h3>
                                            {{ method.example | raw }}
                                        {% endif %}

                                        {% if method.params %}
                                            <hr />
                                            <h3>Parametrar</h3>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Namn</th>
                                                    <th>Typ</th>
                                                    <th>Beskrivning</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for param in method.params %}
                                                    <tr>
                                                        <td class="text-primary">{{ param.name }}</td>
                                                        <td class="text-success">{{ param.type }}</td>
                                                        <td>{{ param.description|raw }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}

                                        {% if method.returns %}
                                            <hr />
                                            <h3>Returnerar</h3>
                                            <span class="text-success">{{ method.returns.type }}</span> - {{ method.returns.description|raw }}
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</li>