{% extends 'Layout.twig' %}

{% block content %}
    <form method="post" action="{{ save_url }}">
        <div class="col-sm-9">
            <h2>Aktiverade moduler</h2>

            <ul>
            {% for module in activated_modules %}
                {% include 'Options/ModuleItem.twig' with module %}
            {% endfor %}
            </ul>

            <hr />

            <h2>Tillgängliga moduler</h2>

            <ul>
            {% for module in available_modules %}
                {% include 'Options/ModuleItem.twig' with module %}
            {% endfor %}
            </ul>
        </div>

        <div class="col-sm-3 sidemenu">
            <a class="btn btn-block btn-lg btn-success" data-ajax_url="{{ save_url }}"><span class="glyphicon glyphicon-ok"></span> Spara ändringar</a>
        </div>
    </form>

{% endblock %}