.gallery-row { padding: 15px 0; }


.gallery
{
  #showImg
  {
    transition: all 400ms;
    -moz-transition: all 400ms;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    z-index: 1000000100;
    cursor:hand;
    cursor:pointer;
    margin: 0 auto;
    position: absolute;

    .imgBtnLeft, .imgBtnRight
    {
      opacity: 0 !important;
      -moz-transition: all 400ms;
      -webkit-transition: all 400ms;
      -o-transition: all 400ms;
    }

    &:hover
    {
      .imgBtnLeft, .imgBtnRight
      {
        opacity: 0.6 !important;
      }
    }

    &>img
    {
      position: relative;
      z-index: 2000;
      opacity:0;
    }
  }

  #blurr
  {
    position: absolute;
    width: 100%;
    height: 0%;
    min-height: 0px;
    background-color: black;
    opacity: 0.0;
    display: block;
    z-index: 1000000000;
    top: 0px;
    left: 0px;

    transition: all 400ms;
    -moz-transition: all 400ms;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
  }


  .thumbDiv
  {
    cursor: pointer;
    padding-bottom: (@grid-gutter-width / 2);
  }

  .imgBtnLeft, .imgBtnRight, .imgText
  {
    width:0px;
    height:100%;
    position: absolute;
    z-index: 1000000200;
    display:block;
    transition: all 400ms;
    -moz-transition: all 400ms;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    cursor:pointer; cursor:hand;
    background-color:black;
    opacity:0;
  }

  .imgBtnRight { right: 0px; top: 0px; top: -1000px; }
  .imgBtnLeft { left: 0px; top: 0px; top: -1000px; }

  .mainText>#showImg>.imgBtnRight:hover{opacity: 0.8 !important}
  .mainText>#showImg>.imgBtnLeft:hover{opacity: 0.8!important}
  .imgText{position: relative; bottom:-1000px; opacity:0; height:100px; width:100%; padding: 20px; color:white; overflow:hidden;}

  imgBtnRight i:before
  {
    width: 100%;
    text-align: center;
    top: 34%;
    position: relative;
    margin-top: -40px;
  }

  imgBtnLeft i:before
  {
    width: 100%;
    text-align: center;
    top: 34%;
    position: relative;
    margin-top: -40px;
  }

  .thumbImgDiv {margin-top: 16px; }
  .HiddenDiv {display:none !important;}
  .thumbImg, .albumThumbImg {width:100%; }
  .thumbImgDiv div {transition: all 500ms; -moz-transition: all 500ms; -webkit-transition: all 500ms; -o-transition: all 500ms;}
  .thumbImgDiv div img {transition: all 500ms; -moz-transition: all 500ms; -webkit-transition: all 500ms; -o-transition: all 500ms;}


  .thumbFade{opacity:0;  margin: 0px;padding: 60px;}
  .thumbHidden{display:none;}

  .imgSearchDiv{padding: 0px 0px 0px 26px; font-size:14px; width:100%; display:block;}

  .cb-button {display:block; float:left !important;}
  .checkboxText {display:block; float: left; padding: 0px 31px 0px 3px; text-transform: capitalize; cursor:hand; cursor:pointer;}
  .cbDiv{display: block; float: left;}
  .fullWidth {width:100%}
  .cbHeadline{ font-size:24px; width:100%; float:left; display:block; text-transform: capitalize; margin-bottom: 20px;}

  .floatLeft{float:left;}
  .floatRight{float:right;}
  .pictureText{display:none;}

  .AlbumActive{ color:#9f0c1d; font-weight:bold;}
  .checkboxbtn {display: none !important;}


  span.albumName {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 7px;
    text-transform: capitalize;
  }


  #albumHeadline
  {
    width: 90%;
    margin-left: (@grid-gutter-width / 2);
    text-transform: capitalize;
  }
  .textWidth p{width:95%}
}
/*.gallery-row { padding: 15px 0; }*/