@newsitems_float: left;                                                         // Default T1 : none
@newsitems_text_align: left;                                                    // Default T1 : center
@newsitems_text_color: #333333;                                                 // Default T1 : #333333

@newsitems_page_header_color: #FFFFFF;                                          // Default T1 : #333333
@newsitems_page_header_margin: 0px -25px 20px;                                  // Default T1 : 20px 0 20px
@newsitems_page_header_padding_bottom: 0px;                                     // Default T1 : 9px
@newsitems_page_header_border_bottom: none;                                     // Default T1 : none

@newsitems_newsitem_h2_margin: 0;                                               // Default T1 : 0px 0px -17px 0px
@newsitems_newsitem_h2_padding: 10px 0px 20px 0px;                              // Default T1 : 0
@newsitems_newsitem_h2_font_size: 21px;                                         // Default T1 : 28px
@newsitems_newsitem_h2_color: #078b6d;                                          // Default T1 : #333333
@newsitems_newsitem_h2_background_color: transparent;                           // Default T1 : transparent

@newsitems_newsitem_p_text_align: left;                                         // Default T1 : center
@newsitems_newsitem_p_font_weight: 300;                                         // Default T1 : 300
@newsitems_newsitem_p_font_size: 14px;                                          // Default T1 : 14px
@newsitems_newsitem_p_line_height: 24px;                                        // Default T1 : 24px

.LeftMenuItem { display: block; }

.newsitems
{
  .newsitem
  {
    float: @newsitems_float;

    h2
    {
      float: @newsitems_float;

      margin: @newsitems_newsitem_h2_margin;
      padding: @newsitems_newsitem_h2_padding;

      background-color: @newsitems_newsitem_h2_background_color;

      font-size: @newsitems_newsitem_h2_font_size;
      color: @newsitems_newsitem_h2_color;
    }

    .date
    {
      display: block;

      font-size: 14px;
      color: #999999;
    }

    p
    {
      float: @newsitems_float;

      font-size: @newsitems_newsitem_p_font_size;
    }
  }
}

/*.LeftMenuItem{display: block;}*/