@startpage_float: none;															// Default T1 : none
@startpage_text_align: left;													// Default T1 : center
@startpage_text_color: @body_text_colour;

@startpage_page_text_padding: 0px 2.4% 40px 2.4%;
@startpage_page_text_padding_xs: 0px 2.4% 40px 2.4%;
@startpage_page_text_padding_sm: 0px 2.4% 40px 2.4%;
@startpage_page_text_padding_md: 0px 38% 40px 24px;
@startpage_page_text_padding_lg: 0px 38% 40px 24px;

@startpage_page_text_font_weight: 300;
@startpage_page_text_font_size: @body_text_font_size;
@startpage_page_text_line_height: 24px;											// Default T1 : 24px


@startpage_page_header_margin: 40px 18px 15px 18px;								// Default T1 : 0 0 0 0
@startpage_page_header_margin_xs:40px 18px 15px 18px;
@startpage_page_header_margin_sm:40px 18px 15px 18px;
@startpage_page_header_margin_md:40px 25% 15px 24px;
@startpage_page_header_margin_lg:40px 25% 15px 24px;



@startpage_page_header_padding: 0 0 0 0;										// Default T1 : 0 0 0 0
@startpage_page_header_align: left;											// Default T1 : center
@startpage_page_header_border: none;											// Default T1 : none


.container.start-caruosel {

  padding-left:0;
  padding-right:0;

  > ul {
    padding:0;
    margin:0;
    list-style-type: none;
    > li {
      padding: 10px 49px;

      //@media(min-width: @screen-sm){ padding: 10px 40px; }

      h2 {
        text-transform: uppercase;
        font-family: @font-family-special;
        font-size: 15px;
        padding-top: 21px;
        padding-bottom: 17px;
        font-weight: 700;
      }

      .compact-theme.woocommerce-products-carousel-all-in-one {
        overflow:visible;
        &:hover .owl-controls .owl-nav div {
          opacity:1;
          &:hover{
            color:@colour_a;
          }
        }

        .owl-nav {
          .owl-prev, .owl-next {
            background:transparent;
            border:0;
            top:25%;
            padding:0;
            width:20px;
            height: 36px;
            line-height: 35px;
            opacity:1;
            &:before {
              font-size:60px;
            }
            /*&:hover:before {
              color: @colour_a;
            }*/
          }
          .owl-prev {
            left:-36px;
          }

          .owl-next {
            right:-36px;
          }
        }

        .woocommerce-products-carousel-all-in-one-slide {
          padding-top:0;

          .woocommerce-products-carousel-all-in-one-container {
            min-height:280px;
            border:0;
            padding:0;
            padding-top:0;

            .woocommerce-products-carousel-all-in-one-image{
              border:1px solid #efefef;
              padding:10px;
            }

            .woocommerce-products-carousel-all-in-one-details {
              h3 {
                text-align: left;
                display:inline-block;
                padding-top:5px;
                min-height: 38px;
                width: 100%;
                font-size: @body_text_font_size;
                a {
                  color:@body_text_colour;
                  :hover { color:@body_text_colour; }
                }
              }
              .woocommerce-products-carousel-all-in-one-amount {display: none;}
              .woocommerce-products-carousel-all-in-one-price{
                /*
                background: -webkit-linear-gradient(top, #ea3030 0, #a30620 100%);
                background: -o-linear-gradient(bottom, #ea3030 0, #a30620 100%);
                background: -moz-linear-gradient(bottom, #ea3030 0, #a30620 100%);
                background: linear-gradient(to bottom, #ea3030 0, #a30620 100%);
                */
                padding:0;
                background:transparent;
                color:@colour_a;
                font-size: @body_text_font_size;
                font-family: @font-family-special;
                font-weight: 700;
                text-shadow: none;

              }
            }
          }
        }


      }


    }
  }
}

.startpage
{
    float: @startpage_float;
    margin-bottom: 7px;
    text-align: @startpage_text_align;
    color: @startpage_text_color;
    @media (min-width: @screen-md) {
        /*
        background-image: url(../img/starttext-bg.png);
        background-position: top right;
        background-repeat: no-repeat;
        */
        padding-top: 7px;

    }


    .page-text
    {
        float: @startpage_float;

        .textpadd {
            padding: @startpage_page_text_padding;
            @media (min-width: @screen-xs) { padding: @startpage_page_text_padding_xs; }
            @media (min-width: @screen-sm) { padding: @startpage_page_text_padding_sm; }
            @media (min-width: @screen-md) { padding: @startpage_page_text_padding_md; }
            @media (min-width: @screen-lg) { padding: @startpage_page_text_padding_lg; }
        }


        font-family: @font-family-std;
        font-weight: @startpage_page_text_font_weight;
        font-size: @startpage_page_text_font_size;

        line-height: @startpage_page_text_line_height;
    }

    .page-header
    {
        h1 {
          margin: @startpage_page_header_margin;
          @media (min-width: @screen-xs) { margin: @startpage_page_header_margin_xs; }
          @media (min-width: @screen-sm) { margin: @startpage_page_header_margin_sm; }
          @media (min-width: @screen-md) { margin: @startpage_page_header_margin_md; }
          @media (min-width: @screen-lg) { margin: @startpage_page_header_margin_lg; }
          text-align: @startpage_page_header_align;
        }



        border: @startpage_page_header_border;
    }
}

.startpage.mainText
{

  background-image: url('../img/valkommen.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  min-height: 235px;
//overflow: hidden;
}
@media (max-width: @screen-md) { .startpage.mainText{background-image: none;} }
.startpage-news
{
    .startpage-content
    {
        margin-bottom: 35px;
    }

    .startpage-news
    {
        .newsitems
        {
            .spacer
            {
                border-bottom: 1px solid #c6e4dd;
                border-top: 1px solid #c6e4dd;
                padding: 2px;
                float: left;
                width: 100%;
                margin-top: 35px;
                margin-bottom: 40px;
            }
        }
    }
}


.no-padding { -webkit-perspective: 400; }
