<li class="list-item col-sm-12">
    <div class="row">
        <div class="col-sm-9">
            <h2>
                {% if language %}
                    <img src="{{ language.country_flag_url }}" />
                {% endif %}
                {{ title }}</h2>
        </div>

        <div class="col-sm-3">
            <a href="{{ edit_url }}" class="btn btn-lg btn-success btn-block">
                <span class="glyphicon glyphicon-camera"></span> Redigera bildspel
            </a>
        </div>
    </div>
</li>