<li class="puff">
    <div>
        <div class="col-sm-8">
            <span class="glyphicon glyphicon-home"></span>
            {% if is_admin %}
                <input type="text" name="title[]" value="{{ title }}">
                <input type="hidden" name="order[]" value="{{ order }}">
                <input type="hidden" name="id[]" value="{{ id }}">
            {% else %}
                <span>{{ title }}</span>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <a href="{{ edit_url }}" class="btn btn-success btn-block">
                <span class="glyphicon glyphicon-pen"></span> Redigera Kontaktuppgifter
            </a>
        </div>
        <div class="clear"></div>
    </div>
</li>