{% extends 'Layout.twig' %}

{% block content %}
    {% include 'Contact/ModalNewFacility.twig' %}

    <form action="{{ save_url }}" method="post">

        <div class="{{ is_admin ? 'col-sm-9' : 'col-sm-12' }}">
            <ol class="facility-menu sortable-list ui-sortable" id="facility-editor-list">
                {% for facility in facilities %}
                    {% include 'Contact/FacilityListItem.twig' with facility %}
                {% endfor %}
            </ol>
        </div>

        {% if is_admin %}
            <div class="sidebar col-sm-3">
                <button type="submit" class="btn btn-success btn-block btn-lg" href="{{ save_url }}">
                    <i class="glyphicon glyphicon-pencil"></i> Spara ändringar
                </button>
                <a class="btn btn-success btn-block" href="#" data-toggle="modal" data-target="#new-facility-modal">
                    <i class="glyphicon glyphicon-plus"></i> Lägg till ny anläggning
                </a>
            </div>
        {% endif %}
    </form>
{% endblock %}