<div class="modal fade" id="new-facility-modal">
    <div class="modal-dialog">
        <form action="{{ create_url }}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Stäng</span></button>
                    <h4 class="modal-title">Skapa ny anläggning</h4>
                </div>

                <div class="modal-body">
                    <h2>Namn</h2>
                    <input class="form-control required" name="title" type="text">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" aria-hidden="true">Avbryt</button>
                    <input type="submit" class="btn btn-success btn-lg" value="Skapa ny anläggning">
                </div>
            </div>
        </form>
    </div>
</div>