<div class="panel panel-default">
    <a class="panel-heading" data-toggle="collapse" data-parent="#facility-accordion" href="#oppettider">
        <h2 class="panel-title">
            <span class="glyphicon glyphicon-time"></span> Öppettider
        </h2>
    </a>
    <div id="oppettider" class="panel-collapse in">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <ol class="sortable-list ui-sortable" id="opening-hours-list">
                        {% for opening_hour in facility.opening_hours %}
                            {% include 'Contact/OpeningHourField.twig' with opening_hour %}
                        {% endfor %}

                        {% include 'Contact/OpeningHourField.twig' with { placeholder: true, order: -1 } %}
                    </ol>
                </div>

            </div>
        </div>
    </div>
</div>