<li {{ placeholder ? 'class="sort-disabled"' : '' }} >
    <div {{ placeholder ? 'class="placeholder"' : '' }}>

        <div class="col-sm-2">
            <input type="text" class="form-control" value="{{ department }}" placeholder="Avdelning" name="opening_hours_department[]">
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" value="{{ title }}" placeholder="Dag" name="opening_hours_title[]">
        </div>
        <div class="col-sm-2">
            <input type="text pull-left" class="form-control" value="{{ from }}" placeholder="Från" name="opening_hours_from[]">
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" value="{{ to }}" placeholder="Till" name="opening_hours_to[]">
        </div>

        <div class="col-sm-2">
            <a href="#" class="btn btn-danger btn-block remove-button"><span class="glyphicon glyphicon-trash"></span> Ta bort</a>
            <input type="hidden" name="opening_hours_remove[]">
        </div>

        <input type="hidden" value="{{ id }}" name="opening_hours_id[]">
        <input type="hidden" value="{{ order }}" name="opening_hours_order[]">


        <div class="clear"></div>
    </div>
</li>